body {
  margin: 0;
  background-color: #e7e7e7;
}

/*** HEADER ***/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.navbar li {
  display: flex;
}

.navbar li a {
  padding: 1.5em 1em;
  min-width: 10em;
  background-color: #fff;
  color: #772fb3;
  border-radius: 1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.navbar li .active {
  background-color: #772fb3;
  color: #fff;
}

.navbar li a:hover {
  box-shadow: inset 0 0 10px #772fb3, 0 0 9px 3px #772fb3;
  background-color: #d4c1e2;
  color: #000;
}

.navbar li a:active {
  background-color: #772fb3;
  color: #fff;
}

/*** MAIN ***/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* DANCE CLASSES PAGE */

.class-logo {
  width: 60rem;
  max-height: 15rem;
  display: flex;
}

.class-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.class-title,
.contact-title {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #772fb3;
  text-shadow: rgb(10 189 240 / 30%) 3px 3px 0px,
    rgb(254 1 1 / 30%) -3px -3px 0px;
}

.class-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.class-carousel__arrow {
  position: absolute;
  top: 50%;
  bottom: 0;
  height: 50px;
  transform: translateY(-50%);
  color: #e7e7e7;
}

.class-carousel__arrow--left {
  left: 0em;
  margin-left: 1em;
}

.class-carousel__arrow--right {
  right: 0em;
  margin-right: 1em;
}

.class-carousel__item {
  width: 10rem;
  height: 29rem;
}

.class-carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.1em;
  max-width: 92%;
}

.class-grid__item {
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-grid__item p {
  margin-top: 0;
}

.class-grid__item p:nth-child(2) {
  font-weight: bold;
}

.class-grid__item p:nth-child(2) {
  margin-bottom: 0;
}

.class-grid__item button {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  border: 0.1px solid lightgray;
  border-radius: 0.5em;
  padding: 0.5em 5em;
  white-space: nowrap;
  overflow: hidden;
}

.class-grid__item1 {
  background-color: #0c68ff;
}

.class-grid__item2 {
  background-color: #812da3;
}

.class-grid__item3 {
  background-color: #a12932;
}

.class-grid__item4 {
  background-color: #0d92b7;
}

.class-grid__item5 {
  background-color: #e84581;
}

.class-grid__item6 {
  background-color: #03c7fc;
}

.class-grid__item7 {
  background-color: #cc2e2e;
}

.class-grid__item8 {
  background-color: #ff6801;
}

.class-grid__item9 {
  background-color: #75ba41;
}

.class-grid__item10 {
  background-color: #ffaa01;
}

/* CONTACT PAGE */

.contact-socialmedia {
  font-size: 3em;
  margin: 0 0.5em;
}

.contact-socialmedia--insta {
  color: #e66465;
}

.contact-socialmedia--facebook {
  color: #3d599a;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  border-radius: 1em;
  background-color: #772fb3;
  padding: 4em;
}

.contact-form input {
  padding: 0.5em;
  border-radius: 0.3em;
}

.contact-form input:not(#submit) {
  width: 100%;
  border: none;
}

.contact-form input:not(#submit):hover {
  box-shadow: inset 0 0 10px #772fb3, 0 0 9px 3px #772fb3;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #f2bf5e;
}

.contact-form textarea {
  background-color: #d4c2e2;
  width: 100%;
  border-radius: 0.5em;
  padding: 1em 0.5em;
}

.contact-form textarea:hover {
  background-color: #fff;
}

.contact-form input[type="submit"] {
  margin-top: 2em;
  padding: 1em 3em;
  font-weight: bold;
  border: 1px solid #000;
}

.contact-form input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
